<!DOCTYPE html>
<html>
<head>
  <title>Postal Rate Calculator</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  </head>
<body>

<div class="container">
  <div class="row">
    <h1>Postal Rate Calculator</h1>
    <form>
        <div class="form-group">
          <label for="weight">Weight</label>
          <input type="text" name="weight" value="<%=weight%>" class="form-control" id="weight" aria-describedby="weightHelp" placeholder="Enter the weight of the mail">
          <small id="weightHelp" class="form-text text-muted">Weight in oz. because Merica</small>
        </div>
        <div class="form-group">
          <label>Mail type</label>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mail-type" id="mail-type-stamped" value="stamped" <%if (mailType == 'stamped') { %> checked <% } %> >
            <label class="form-check-label" for="mail-type-stamped">Letters (Stamped)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="mail-type" id="mail-type-metered" value="metered" <%if (mailType == 'metered') { %> checked <% } %>>
            <label class="form-check-label" for="mail-type-metered">Letters (Metered)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="mail-type" id="mail-type-flats" value="flats" <%if (mailType == 'flats') { %> checked <% } %>>
            <label class="form-check-label" for="mail-type-flats">Large Envelopes (Flats)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="mail-type" id="mail-type-first-class" value="first-class" <%if (mailType == 'first-class') { %> checked <% } %>>
            <label class="form-check-label" for="mail-type-first-class">First-Class Package Service—Retail</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>        
  </div> <!-- row -->
  
  <% if (rate !== undefined) { %>
  <div class="row">
    <h2>Rate: U$ <%=rate%></h2>
  </div> <!-- row -->
  <% } %>
</div>
</body>
</html>